
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
config/env/.env.*
.DS_Store


# env files (never commit secrets)
**/.env
**/.env.*

# only commit example env files
!**/.env.example
!**/.env.*.example